<p> <strong>Guillaume Consulting.</strong> Ruby. <a href="mailto:willem@guillaume-consulting.com">Contact</a>. </p>

<p id="factoids"> Chamber of Commerce number: 24484467, Rotterdam, the Netherlands </p>
