<h1> Guillaume consulting </h1>

<p> We offer Ruby advice. As you can see, we are very knowledgable on this subject because this site runs on Sinatra. :-) </p>
<p> <a href="mailto:willem@gauillaume-consulting.com">&raquo; Contact us</a> </p>
