<h1> Guillaume Consulting </h1>

<p> We offer Ruby advice. As you can see, we are very knowledgable on this subject because this site runs on Sinatra. :-) </p>
<p> <strong>Contact:</strong> <a href="mailto:willem@gauillaume-consulting.com">Willem van Bergen</a> </p>

<p id="factoids"> Chamber of Commerce number: 24484467, Rotterdam, the Netherlands </p>
