<!DOCTYPE html>
<html>
  <head>
    <title> Guillaume Consulting </title>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
