html body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  line-height: 18pt;
  font-size: 14pt;
}
#content {
  text-align: center;
  width: 600px;
  margin: 300px auto 0px auto;
}

#content a {
  text-decoration: none;
}
#content a:hover {
  text-decoration: underline;
}
#factoids {
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: #aaa;
  font-size: 90%;
}
